/* Main Container */
.app-container {
  max-width: 28rem;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(248 250 252);
  position: relative;
  overflow: hidden;
  user-select: none;
  font-family: "Inter", sans-serif;
}
